@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");
.navegador {
  background-color: #2b4448 !important; }

.footer {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 10px 0px; }

footer {
  height: auto;
  background-color: #2b4448;
  padding: 5px; }

.pie li {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px; }

.pie li:hover {
  background: #667e81;
  border: solid black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  max-width: auto;
  background-color: #2b4448;
  padding: 0px;
  text-align: center; }

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  background-size: cover;
  padding: 0px; }
  body h1, body h2, body h3, body p, body ul {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center; }
    body h1 h1, body h2 h1, body h3 h1, body p h1, body ul h1 {
      padding-top: 50px;
      font-size: 2em;
      color: #2b4448 !important; }
    body h1 h2, body h2 h2, body h3 h2, body p h2, body ul h2 {
      font-size: 1.5em;
      color: #2b4448 !important;
      padding: 50px 0px; }
    body h1 h3, body h2 h3, body h3 h3, body p h3, body ul h3 {
      font-size: 1.2em;
      padding: 50px 0px; }

.blanco {
  color: white !important; }

.logo {
  display: flex;
  padding: 20px;
  width: 100px;
  height: 100px; }

.animado {
  font-size: 1em;
  color: white;
  position: static;
  background-color: #667e81;
  animation-name: ampliar;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 2s; }

@keyframes ampliar {
  0% {
    width: 100%;
    background-color: #2b4448; }
  25% {
    width: 85%;
    background-color: #5f7d81; }
  50% {
    width: 50%;
    background-color: #6b7d80; }
  75% {
    width: 85%;
    background-color: #5f7d81; }
  100% {
    width: 100%;
    background-color: #2b4448; } }

.verde {
  color: white !important; }

img {
  max-width: 100%;
  display: flex;
  justify-content: center; }

.imagenesproductos {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  align-items: center; }

.tipsimg {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  align-items: center; }

.medallones img {
  border-radius: 10px; }

.tarta img {
  border-radius: 10px; }

.viandas img {
  border-radius: 10px; }

.cremoso img {
  border-radius: 5px; }

.fideos img {
  border-radius: 5px; }
