@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");
.facebook-icon {
  background-image: url("/img/facebook.png"); }

.instagram-icon {
  background-image: url("/img/instagram.png"); }

.mail-icon {
  background-image: url("/img/mail.png"); }

.whatsapp-icon {
  background-image: url("/img/whatsapp.png"); }

/*mapa de colores de redes*/
.btn--facebook {
  background-color: #3a5795; }

.btn--instagram {
  background-color: #990088; }

.btn--mail {
  background-color: red; }

.btn--whatsapp {
  background-color: green; }

/* Fuente*/
h1 {
  font-size: 2em; }

/*formulario*/
.boton, .boton .boton--enviar, .boton .boton--limpiar {
  width: 100px;
  height: 30px;
  background-color: white;
  text-align: center;
  color: black;
  display: inline; }
  .boton .boton--enviar {
    background-color: #879ea1;
    color: grey; }
  .boton .boton--limpiar {
    background-color: #879ea1;
    color: grey;
    width: 180px; }

.navegador {
  background-color: #2b4448 !important; }

footer {
  height: auto;
  background-color: #2b4448;
  padding: 5px; }
  footer .footer {
    color: white;
    text-align: center !important;
    margin: 0px;
    padding: 10px 0px; }
  footer li {
    color: white;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px; }
    footer li img {
      max-width: 40px; }

.conectados {
  background-color: #667e81; }

.pie li:hover {
  background: #667e81;
  border: solid black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  max-width: auto;
  background-color: #2b4448;
  padding: 0px;
  text-align: center; }

body {
  background-color: white;
  font-family: "Monserrat", sans-serif;
  font-size: large;
  background-size: cover;
  padding: 0px;
  margin: 0;
  color: color(primary); }
  body h1,
  body h2,
  body h3,
  body p,
  body ul {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center; }
    body h1 h1,
    body h2 h1,
    body h3 h1,
    body p h1,
    body ul h1 {
      padding-top: 50px;
      /* font-size: 2em; */
      color: #2b4448 !important; }
    body h1 h2,
    body h2 h2,
    body h3 h2,
    body p h2,
    body ul h2 {
      /* font-size: 1.5em; */
      color: #2b4448 !important;
      padding: 50px 0px; }
    body h1 h3,
    body h2 h3,
    body h3 h3,
    body p h3,
    body ul h3 {
      /*     font-size: 1.2em; */
      padding: 50px 0px; }

/*texto nav*/
.blanco {
  color: white !important; }

/*logo nav*/
.logo {
  display: flex;
  padding: 20px;
  width: 100px;
  height: 100px; }

/*animación debajo del nav*/
.animado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 1em;
  color: white;
  position: static;
  background-color: #667e81;
  animation-name: ampliar;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 2s; }

@keyframes ampliar {
  0% {
    width: 100%;
    background-color: #2b4448; }
  25% {
    width: 85%;
    background-color: #5f7d81; }
  50% {
    width: 50%;
    background-color: #5f7d81; }
  75% {
    width: 85%;
    background-color: #5f7d81; }
  100% {
    width: 100%;
    background-color: #2b4448; } }

/*Imagen principal inicio*/
.principal {
  width: 100%;
  height: 80%; }

/*productos*/
.container img {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.container .imagenesproductos {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  align-items: center; }

.container .radius img {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; }

.resaltados {
  background-color: #879ea1; }

/*tips*/
.verde {
  color: white !important; }

.tipsimg {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  align-items: center; }

.tipuno {
  margin: 10px;
  padding: 5px;
  background-color: #879ea1;
  color: black; }

/*productos*/
.listaprecios {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto; }

/*talleres*/
.taller {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto; }

.fondo {
  background-color: #f7c6b5 !important;
  margin: 10px;
  padding: 5px; }

.resaltadosnaranja {
  background-color: #faaa8f !important; }

/*Nosotros*/
.nosotros {
  margin: 20px;
  padding: 20px; }

.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-items: center; }
