/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    max-width: auto;
    background-color: #2b4448;
    padding: 0px;
    text-align: center;

}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    background-size: cover;
    padding: 0px;
}

/*----------------------HEADER-----------------------*/
.logoportada {
    max-width: 100%;
    display: flex;
    list-style: none;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 6s;
    animation-delay: 1s;
}

.logo {

    display: flex;
    padding: 20px;
    width: 100px;
    height: 100px;

}

 .menu {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menuitems {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menuitems li {
    border-radius: 3px;
    margin: 0 5px;
}

.menuitems li a {
    padding: 7px 13px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 5s;
}

.menuitems li a:hover {
    background: #667e81;
    transition: .4s;
    transform: scaleY(1.1);
}

.checkbtn {
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
} 

.navegador {
    background-color: #2b4448!important;
}
.blanco{
    color: white!important;

}
  
/* 
.buscar {
    height: 30px;
    padding: 0px;
    margin: 10px;
} */


/* ----------------------BODY-----------------------*/
h1 {
    padding-top: 50px;
    font-size: 2em;
    color: #2b4448;

}


.animado {
    font-size: 1em;
    color: white;
    position: static;
    background-color: #667e81;
    animation-name: ampliar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;

}
.linkpdf{
    
    display: flex;
    text-align: center;
    position:relative;
    text-align: center;
    margin: 20px;
}
@keyframes ampliar {
    0% {
        width: 100%;
        background-color: #2b4448;
    }

    25% {
        width: 85%;
        background-color: #5f7d81;
    }

    50% {
        width: 50%;
        background-color: #6b7d80;
    }

    75% {
        width: 85%;
        background-color: #5f7d81;
    }

    100% {
        width: 100%;
        background-color: #2b4448;
    }
}

h2 {
    font-size: 1.5em;
    color: #2b4448;
    padding: 50px 0px
}

.tipsimg {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.imagenesproductos {
    margin-left: auto;
    margin-right: auto;
    max-width: 70px;
    align-items: center;

} 

h1,
h2,
h3,
h4,
p,
dl,
ul,
ol {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 1.2em;
    padding: 50px 0px
}

.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px;
    padding: 10px 0px
}

footer {
    height: auto;
    background-color: #2b4448;
    padding: 5px;
}

.pie li {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.pie li:hover {
    background: #667e81;
    border: solid black;

}

@media screen and (min-width:768px) {

    .grilla {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }

}

.gtilla div {
    position: relative;


    /*     display: block;
    padding: 20px;
    box-shadow: 2px 2px 10px black; */
}





.medallones img {
    border-radius: 10px;
}

.tarta img {
    border-radius: 10px;
}

.viandas img {

    border-radius: 10px;

}

.cremoso img {

    border-radius: 5px;

}

.fideos img {

    border-radius: 5px;
}

.verde {
    color: white !important;
}

/*-------------------------NOSOTROS---------------------------*/
/*main*/
.logoNosotros {
    max-width: 70px;
    margin: 20px;
    margin-top: 30px;
    margin-left: 900px;

}


.nosotros {
    margin: 20px;
    padding: 10px;
    
}

/*-------------------------TALLER---------------------------*/
.taller {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------TALLER---------------------------*/
.contacto {
    max-width: 800px;
    margin-left: 550px;
}

.miCuenta {
    margin-left: 500px;
}

.Micuenta1 {


    margin-right: 500px;
}

.mapa div {

    display: flex;
    justify-content: center;
    align-items: center;
}