@import "variables";
@import "breakpoints";
@import "mixins";
@import "nav";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: auto;
    background-color: #2b4448;
    padding: 0px;
    text-align: center;
}

body {
    background-color: $colorBlanco;
    font-family: $font, sans-serif;
    font-size: large;
    background-size: cover;
    padding: 0px;
    margin: 0;
    color: color(primary);

    h1,
    h2,
    h3,
    p,
    ul {
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        justify-content: center;

        h1 {
            padding-top: 50px;
            /* font-size: 2em; */
            color: $colorPrincipal  !important;
        }

        h2 {
            /* font-size: 1.5em; */
            color: $colorPrincipal  !important;
            padding: 50px 0px
        }

        h3 {
            /*     font-size: 1.2em; */
            padding: 50px 0px
        }
    }
}

/*texto nav*/
.blanco {
    color: $colorBlanco  !important;
}

/*logo nav*/
.logo {
    display: flex;
    padding: 20px;
    width: 100px;
    height: 100px;
}

/*animación debajo del nav*/
.animado {
    font-size: 1em;
    color: $colorBlanco;
    position: static;
    background-color: #667e81;
    animation-name: ampliar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;

    @keyframes ampliar {
        0% {
            width: 100%;
            background-color: $colorPrincipal;
        }

        25% {
            width: 85%;
            background-color: $colorSecundario;
        }

        50% {
            width: 50%;
            background-color: $colorSecundario;
        }

        75% {
            width: 85%;
            background-color: $colorSecundario;
        }

        100% {
            width: 100%;
            background-color: $colorPrincipal;
        }
    }
}

/*productos*/
.container {
    img {
        max-width: 100%;
        @include flex;
    }

    .imagenesproductos {
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        align-items: center;
    }

    .medallones img {
        border-radius: 10px;
    }

    .tarta img {
        border-radius: 10px;
    }

    .viandas img {
        border-radius: 10px;
    }

    .cremoso img {
        border-radius: 5px;
    }

    .fideos img {
        border-radius: 5px;
    }
}

/*tips*/
.verde {
    color: $colorBlanco  !important;
}

.tipsimg {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    align-items: center;
}

$theme: dark;

.tipuno {
    margin: 10px;
    padding: 5px;

    @if $theme==dark {
        background-color: $colorResaltardo;
        color: $colorTexto
    }

    @else if $theme==light {
        color: $colorTexto;
    }

    @else {
        color: $colorResaltardo;
        color: $colorTexto
    }
}

/*productos*/
.listaprecios {
    @include flex;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*talleres*/
.taller {
    @include flex;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/*Nosotros*/
.nosotros {
    margin: 20px;
    padding: 20px;
}